server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: auth-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/jiwon-tech-innovation}
    username: ${SPRING_DATASOURCE_USERNAME:shinseungmin}
    password: ${SPRING_DATASOURCE_PASSWORD:}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    username: shinseungmin070920@gmail.com
    password: zqdgqbvjdjdovarq
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          timeout: 5000
          connectiontimeout: 5000
          writetimeout: 5000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    packages-to-scan: io.github.jiwontechinnovation.auth.entity,io.github.jiwontechinnovation.user.entity

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  health:
    mail:
      enabled: false

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
