server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: analysis-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/jiwon-tech-innovation}
    username: ${SPRING_DATASOURCE_USERNAME:shinseungmin}
    password: ${SPRING_DATASOURCE_PASSWORD:}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    packages-to-scan: io.github.jiwontechinnovation.analysis.entity


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970}
