server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        # Auth Service
        - id: auth-service
          uri: http://auth-service:8080
          predicates:
            - Path=/auth-service/**
          filters:
            - StripPrefix=1
        
        # User Service
        - id: user-service
          uri: http://user-service:8080
          predicates:
            - Path=/user-service/**
          filters:
            - StripPrefix=1
        
        # Goal Service
        - id: goal-service
          uri: http://goal-service:8080
          predicates:
            - Path=/goal-service/**
          filters:
            - StripPrefix=1
        
        # Analysis Service
        - id: analysis-service
          uri: http://analysis-service:8080
          predicates:
            - Path=/analysis-service/**
          filters:
            - StripPrefix=1

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: gateway,health,info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    urls:
      - name: auth-service
        url: /auth-service/v3/api-docs
      - name: user-service
        url: /user-service/v3/api-docs
      - name: goal-service
        url: /goal-service/v3/api-docs
      - name: analysis-service
        url: /analysis-service/v3/api-docs
    config-url: /v3/api-docs/swagger-config
    url: /v3/api-docs
